 @charset "UTF-8";

  * {margin:0; box-sizing: border-box;}
  body {background-color: #f3f4f4;}

  #top > p {font-size: 12px; text-align: center; letter-spacing: 1px; color: #d71d30; font-weight:600; padding: 10px 0 0 0px; cursor: pointer;  }
  #top > p:hover {text-decoration: underline;}

  /*헤더*/
   header {width: 98%; height: 78px; margin:0 auto; background-color: #fff; border-radius: 40px;  display: flex; align-items: center; }

   #logo >img {width: 102px; height: 58px; margin: 0 0 0 37px;}
   header > .b {width:693px;}
   header > .b > ul {display: flex; padding: 20px; }
   header > .b >ul >li >a {text-decoration: none; color: #000; font-weight: bold; font-size: 16px; padding: 10px; padding: 10px;}
   header > .b >ul >li {margin:0 15px 0 0px;}
   header > #blank {margin: 0 auto;}
   header > #iconbox { width:384px; height: 100%; display: flex; align-items: center; justify-content: flex-end; margin:0 20px 0 0px;}
   #iconbox .language-link {font-size: 14px; margin:0 30px 0 0px; text-decoration: underline;}
   #icon {display: flex;}
   #icon >.box {background-color: #d71d30; width:34px; height:34px; border-radius: 50px; overflow: hidden; margin: 2px 18px 0 0px; }
   #icon >.box >img {width: 80%; height: 80%; display: flex; margin:5px 0 0 3px;}
   #icon > .abox > .a {display: none;}
   #icon >button {width: 180px; height: 40px; border: none; border-radius: 20px; background-color: #d71d30; font-size: 14px; font-weight: bold; color: #fff; letter-spacing: 1px;}

     /*헤드 슬라이더*/
     #slider {width: 99%; height: 319px; margin:0 auto;  margin:10px auto;  border-radius: 90px; padding: 20px; background-image: url("img_back.svg"); background-color: #d71d30; background-blend-mode:multiply; }

     #slider > h2 {text-align: center; font-size: 50px; color: #fff; font-weight: bold; letter-spacing: 1px; padding: 50px 0 0 0px;}

     #slider > p { width:1240px; margin: 0 auto; text-align: center; font-size: 19px; color: #fff; font-weight: bold; line-height: 23px; padding: 20px 0 0 0px; display: flex; justify-content: center;}

     section{height: 500px; background-color: aquamarine;}